.home {
  width: 100%;
  min-height: 90vh;
}
.post__items {
  display: grid;
  grid-template-columns: 70% 30%;
}
.left__side {
  min-height: 90vh;
  padding: 20px 10%;
}
.right__side {
  width: 100%;
  min-height: 90vh;
  padding: 20px 15%;
}
.postedBy {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
}
.iconss {
  color: #d50000 red;
}
.profileNames {
  display: flex;
  justify-content: start;
  height: 100%;
  align-items: center;
}
.profileNames img {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  border-radius: 50%;
  object-fit: cover;
}
@media screen and (max-width: 800px) {
  .post__items {
    display: grid;
    grid-template-columns: 100%;
  }
  .right__side {
    display: none;
  }
  .left__side {
    min-height: 90vh;
    padding: 20px 3%;
  }
}
